@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --main-white: #f0f0f0;
  --main-yellow: #e4fc5e;
  --main-blue: #060afd;
  --main-gray: #363434;
  --main-black: #000000;
}
html,body{
  display: grid;
  height: 1000px;
  width: 100%;
  place-items: center;
  background-repeat: repeat;
  background-image: linear-gradient(225deg, #91f733 0%, #f8760c 100%);
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
}
  /* nav */
  
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: var(--main-black);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  a {
    text-decoration: none;
    color: var(--main-gray);
    
  }
  ul {
    list-style: none;
  }
  .link{
    margin: 10px;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    color: var(--main-white);
    height: 70px;
    font-weight: 600;
    display: block;
    border-radius: 50px;
    font-size: x-large;
    padding: 17px;
   
  }
  
  .nav-list a:hover {
    background:var(--main-white);
    color: var(--main-black);
    transition: 0.8s;
  }
  
::selection{
  background: #4158d0;
  color: #fff;
}
.wrapper{
  width: 500px;
  height: 700px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: rgb(255, 255, 255);
  user-select: none;
  border-radius: 15px 15px 0 0;
  background-color: #000000;
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #4158d0;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label,
form .field select:focus ~ label,
form .field select:valid ~ label{
  top: 0%;
  font-size: 16px;
  font-weight: 900;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
select{
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 25px;
  font-size: 17px;
  color: #999999;
  border: 1px solid lightgrey;
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link{
  color: "";
}
form .field input[type="submit"]{
  color: rgb(255, 255, 255);
  border: none;
  padding-left: 0;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: #000000;
  transition: all 0.3s ease;
}
form .field input[type="submit"]:hover{
  background-image: linear-gradient(225deg, #91f733 0%, #f8760c 100%);
  color: #000000;
  font-weight: 600;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: none;
  color: brown;
}
